*.suo
*.lock
Dersa.SqlClient/.vs/Dersa.SqlClient/v15/Server/sqlite3/storage.ide
*.exe
*.pdb
*.cache
LAN_WORK/.vs/LanWork/v15/Server/sqlite3/storage.ide
RestWcfService/.vs/RestWcfService/v15/Server/sqlite3/storage.ide
Dersa.SqlClientTest/
Dersa.SqlClient/bin/Debug/Dersa.SqlClient.exe.config
RestWcfService/bin/
Dersa.SqlClient/obj/
Dersa.SqlClient/.vs/
Dersa.SqlClient/bin/Debug/
LAN_WORK/.vs/
RestWcfService/.vs/RestWcfService/v15/Server/sqlite3/storage.ide-wal
RestWcfService/.vs/RestWcfService/v15/Server/sqlite3/storage.ide-shm
*.dll
LAN_WORK/LOG/application_log.txt
