<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveCsv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SaveCsv.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=DRPO-DPB-1)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=orcl)));User Id=TEST_USER1;Password=TEST_USER1;</value>
            </setting>
            <setting name="QueryText" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
        </SaveCsv.Properties.Settings>
    </userSettings>
</configuration>