@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="#" onclick="s = prompt('тема?', ''); if (s) { window.open('/Report/CreateJiraIssue?summary='+s)}">Создать заявку</a>
    </div>
</body>
</html>
