@{
    ViewBag.Title = "О программе";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <strong>DERSA (Developing</strong> with <strong>Entities </strong>&<strong> Relations </strong>&<strong> Stereotypes </strong>&<strong> Attributes)</strong> - многопользовательская среда разработки объектно-ориентрованных систем.
    <br>
    Функционал:<ul>
                   <li>Визуальное проектирование архитектуры систем.</li>
                   <li>Генерация скриптов (Scaffolding) - перевод объектов в текст любого формата (SQL, C#, (CS)HTML, JS etc.)</li>
</ul><br>
    В разработке системы DERSA использовано следующее свободно распространяемое ПО:
    <p>
        <li><a href="https://www.jstree.com/">Представление данных в виде дерева__</a>(@(Html.ActionLink("Лицензия MIT", "LicenceMIT", "Home")))</li>
    </p>

    <p>
        <li><a href="https://jgraph.github.io/mxgraph/">Работа с диаграммами</a>______(@(Html.ActionLink("Лицензия Apache 2.0", "LicenceAPACHE", "Home")))</li>
    </p>
    <br>Проект находится в стадии разработки.
</article>

