<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICalculatorDuplex" />
            </wsDualHttpBinding>
            <netHttpBinding>
                <binding name="NetHttpBinding_ICalculatorService">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22617/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICalculatorDuplex"
                contract="ServiceR.ICalculatorDuplex" name="WSDualHttpBinding_ICalculatorDuplex">
                <identity>
                    <userPrincipalName value="MURZIK\User" />
                </identity>
            </endpoint>
            <endpoint address="ws://localhost:555/" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_ICalculatorService" contract="CalculatorService.ICalculatorService"
                name="NetHttpBinding_ICalculatorService" />
        </client>
    </system.serviceModel>
</configuration>