@{
    ViewBag.Title = "О программе";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <strong>
        ЛАНИТ ДРПО, внутренняя информационная система.
    </strong>
</article>

<a href="~/HelpPage.html">Краткое описание</a>
<!--aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside-->