@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address-->

<address>
    <strong>Информация:</strong>   <a href="mailto:OBulatov@lanit.ru">OBulatov@lanit.ru</a><br />
    <strong>Aдминистраторы:</strong> <a href="mailto:OBulatov@lanit.ru">OBulatov@lanit.ru</a>
</address>

<!--ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("О программе", "About", "Home")</li>
</ul-->
